
@layer app {
  
  * {
    user-select: none;
  }
  /* Pointer fixes */
  *:where(:not(input, textarea)) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
  }
  
  html {
    width: 100%;
    height: 100%;
  }
  body {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow: auto; /* body scroll will be WINDOW scroll */
  }
  
}


