
@layer fonts {
  
  * {
    font-family: 'Roboto',
      '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas',
      'Courier New',
      monospace;
  }
  
  
  
  /* import Roboto font */
  @font-face {
    font-family: 'Roboto'; font-weight: 100;
    src: url('@assets/fonts/Roboto/Roboto-Thin.ttf'), local('Roboto');
  }
  @font-face {
    font-family: 'Roboto'; font-weight: 100; font-style: italic;
    src: url('@assets/fonts/Roboto/Roboto-Thin-Italic.ttf'), local('Roboto');
  }
  
  @font-face {
    font-family: 'Roboto'; font-weight: 300;
    src: url('@assets/fonts/Roboto/Roboto-Light.ttf'), local('Roboto');
  }
  @font-face {
    font-family: 'Roboto'; font-weight: 300; font-style: italic;
    src: url('@assets/fonts/Roboto/Roboto-Light-Italic.ttf'), local('Roboto');
  }
  
  @font-face {
    font-family: 'Roboto'; font-weight: 400;
    src: url('@assets/fonts/Roboto/Roboto-Regular.ttf'), local('Roboto');
  }
  @font-face {
    font-family: 'Roboto'; font-weight: 400; font-style: italic;
    src: url('@assets/fonts/Roboto/Roboto-Regular-Italic.ttf'), local('Roboto');
  }
  
  @font-face {
    font-family: 'Roboto'; font-weight: 500;
    src: url('@assets/fonts/Roboto/Roboto-Medium.ttf'), local('Roboto');
  }
  @font-face {
    font-family: 'Roboto'; font-weight: 500; font-style: italic;
    src: url('@assets/fonts/Roboto/Roboto-Medium-Italic.ttf'), local('Roboto');
  }
  
  @font-face {
    font-family: 'Roboto'; font-weight: 700;
    src: url('@assets/fonts/Roboto/Roboto-Bold.ttf'), local('Roboto');
  }
  @font-face {
    font-family: 'Roboto'; font-weight: 700; font-style: italic;
    src: url('@assets/fonts/Roboto/Roboto-Bold-Italic.ttf'), local('Roboto');
  }
  
  @font-face {
    font-family: 'Roboto'; font-weight: 900;
    src: url('@assets/fonts/Roboto/Roboto-Black.ttf'), local('Roboto');
  }
  @font-face {
    font-family: 'Roboto'; font-weight: 900; font-style: italic;
    src: url('@assets/fonts/Roboto/Roboto-Black-Italic.ttf'), local('Roboto');
  }
  
}
