
@layer reset {
  
  *,::before,::after,::backdrop {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    gap: 0;
    place-items: normal;
    place-content: normal;
    /* background of body is WINDOW background */
    background: none;
    /* disable highlight on mobile devices when tapping on screen */
    -webkit-tap-highlight-color: transparent;
    overflow-wrap: anywhere;
  }
  input,textarea {
    justify-items: normal;
  }
  * {
    /* It prevents inheritance that is more convenient */
    pointer-events: auto;
  }
  
  
  /* WARNING! Do not apply any display property to html or body - it behaves strange */
  html {
    /*
      https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
      Indicates that page cannot be changed by autotheme browser engine.
      And indicates that page can change theme by its own.
    */
    color-scheme: light dark;
  }
  
  
  a {
    display: contents;
    text-decoration: none;
    color: unset;
  }
  
}
