@import 'tailwindcss';



/*** 🔶Size🔶 ***/
/** box-sizing **/
@utility content-box { box-sizing: content-box; }
@utility border-box { box-sizing: border-box; }

@theme {
  --size-full: 100%;
  --size-ct: fit-content;
  --size-0: 0;
}

/** size - width & height **/
@utility sz-* {
  width: --value([number])px;
  width: --value(--size-*, [*]);
  height: --value([number])px;
  height: --value(--size-*, [*]);
}

/** size min - min-width & min-height **/
@utility sz-min-* {
  min-width: --value([number])px;
  min-width: --value(--size-*, [*]);
  min-height: --value([number])px;
  min-height: --value(--size-*, [*]);
}

/** size max - max-width & max-height **/
@utility sz-max-* {
  max-width: --value([number])px;
  max-width: --value(--size-*, [*]);
  max-height: --value([number])px;
  max-height: --value(--size-*, [*]);
}

/** width **/
@utility w-* { width: --value([number])px; width: --value(--size-*, [*]); }

/** min-width **/
@utility w-min-* { min-width: --value([number])px; min-width: --value(--size-*, [*]); }

/** max-width **/
@utility w-max-* { max-width: --value([number])px; max-width: --value(--size-*, [*]); }

/** height **/
@utility h-* { height: --value([number])px; height: --value(--size-*, [*]); }

/** min-height **/
@utility h-min-* { min-height: --value([number])px; min-height: --value(--size-*, [*]); }

/** max-height **/
@utility h-max-* { max-height: --value([number])px; max-height: --value(--size-*, [*]); }

/** shape - aspect-ratio, border-radius **/
@utility square { aspect-ratio: 1; }
@utility round { border-radius: 999999px; }
@utility ratio-* { aspect-ratio: --value([*]); }
@utility rad-* { border-radius: --value([number])px; border-radius: --value([*]); }

/** margin **/
@utility m-* { margin: --value([number])px; margin: --value(--size-*, [*]); }
@utility mv-* {
  margin-top: --value([number])px;
  margin-top: --value(--size-*, [*]);
  margin-bottom: --value([number])px;
  margin-bottom: --value(--size-*, [*]);
}
@utility mh-* {
  margin-left: --value([number])px;
  margin-left: --value(--size-*, [*]);
  margin-right: --value([number])px;
  margin-right: --value(--size-*, [*]);
}
@utility mt-* { margin-top: --value([number])px; margin-top: --value(--size-*, [*]); }
@utility mr-* { margin-right: --value([number])px; margin-right: --value(--size-*, [*]); }
@utility mb-* { margin-bottom: --value([number])px; margin-bottom: --value(--size-*, [*]); }
@utility ml-* { margin-left: --value([number])px; margin-left: --value(--size-*, [*]); }

/** padding **/
@utility p-* { padding: --value([number])px; padding: --value(--size-*, [*]); }
@utility pv-* {
  padding-top: --value([number])px;
  padding-top: --value(--size-*, [*]);
  padding-bottom: --value([number])px;
  padding-bottom: --value(--size-*, [*]);
}
@utility ph-* {
  padding-left: --value([number])px;
  padding-left: --value(--size-*, [*]);
  padding-right: --value([number])px;
  padding-right: --value(--size-*, [*]);
}
@utility pt-* { padding-top: --value([number])px; padding-top: --value(--size-*, [*]); }
@utility pr-* { padding-right: --value([number])px; padding-right: --value(--size-*, [*]); }
@utility pb-* { padding-bottom: --value([number])px; padding-bottom: --value(--size-*, [*]); }
@utility pl-* { padding-left: --value([number])px; padding-left: --value(--size-*, [*]); }

/** gap **/
@utility g-* { gap: --value([number])px; gap: --value(--size-*, [*]); }
@utility g-row-* { row-gap: --value([number])px; row-gap: --value(--size-*, [*]); }
@utility g-col-* { column-gap: --value([number])px; column-gap: --value(--size-*, [*]); }
