@import 'tailwindcss';



/*** 🔶Position🔶 ***/

@utility fixed-trbl { position: fixed; top: 0; right: 0; bottom: 0; left: 0; }
@utility fixed-tlwh { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
@utility fixed-top { position: fixed; top: 0; left: 0; right: 0; }
@utility fixed-left { position: fixed; top: 0; left: 0; bottom: 0; }
@utility fixed-bot { position: fixed; bottom: 0; left: 0; right: 0; }

@utility abs-trbl { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
@utility abs-tlwh { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
@utility abs-tl { position: absolute; top: 0; left: 0; }

@utility abs { position: absolute; }
@utility rel { position: relative; }
@utility fixed { position: fixed; }
@utility pos-* { position: --value([*]); }

@utility a-* {
  top: --value([number])px; top: --value([*]);
  right: --value([number])px; right: --value([*]);
  bottom: --value([number])px; bottom: --value([*]);
  left: --value([number])px; left: --value([*]);
}
@utility av-* {
  top: --value([number])px; top: --value([*]);
  bottom: --value([number])px; bottom: --value([*]);
}
@utility ah-* {
  right: --value([number])px; right: --value([*]);
  left: --value([number])px; left: --value([*]);
}

@utility t { top: 0; }
@utility t-* { top: --value([number])px; top: --value([*]); }
@utility r { right: 0; }
@utility r-* { right: --value([number])px; right: --value([*]); }
@utility b { bottom: 0; }
@utility b-* { bottom: --value([number])px; bottom: --value([*]); }
@utility l { left: 0; }
@utility l-* { left: --value([number])px; left: --value([*]); }
@utility z-* { z-index: --value([*]); }
