@import 'tailwindcss';



/*** 🔶Grid🔶 ***/

/** grid **/
@utility grid { display: grid; }
@utility grid-* { display: grid; grid: --value([*]); }

/** grid direction **/
@utility row { &:where(.grid,[class*=grid-]) {
  grid-auto-flow: column;
} }
@utility col { &:where(.grid,[class*=grid-]) {
  grid-auto-flow: row;
} }

/** grid layout **/
@utility rows-* { &:where(.grid,[class*=grid-]) {
  grid-template-rows: --value([*]);
} }
@utility cols-* { &:where(.grid,[class*=grid-]) {
  grid-template-columns: --value([*]);
} }
@utility areas-* { &:where(.grid,[class*=grid-]) {
  grid-template-areas: --value([*]);
} }
@utility auto-rows-* { &:where(.grid,[class*=grid-]) {
  grid-auto-rows: --value([*]);
} }
@utility auto-cols-* { &:where(.grid,[class*=grid-]) {
  grid-auto-columns: --value([*]);
} }

/** grid items placing shortcuts **/
@utility center { &:where(.grid,[class*=grid-]) {
  place-items: center;
} }
@utility center-start { &:where(.grid,[class*=grid-]) {
  place-items: center start;
} }
@utility end-stretch { &:where(.grid,[class*=grid-]) {
  place-items: end stretch;
} }

/** grid items placing **/
@utility place-* { &:where(.grid,[class*=grid-]) {
  place-items: --value([*]);
} }

/** grid content placing **/
@utility place-ct-* { &:where(.grid,[class*=grid-]) {
  place-content: --value([*]);
} }

/** grid items aligning **/
@utility align { &:where(.grid,[class*=grid-]) {
  align-items: center;
} }
@utility align-start { &:where(.grid,[class*=grid-]) {
  align-items: start;
} }
@utility align-center { &:where(.grid,[class*=grid-]) {
  align-items: center;
} }
@utility align-end { &:where(.grid,[class*=grid-]) {
  align-items: end;
} }
@utility align-stretch { &:where(.grid,[class*=grid-]) {
  align-items: stretch;
} }

/** grid items justifying **/
@utility justify { &:where(.grid,[class*=grid-]) {
  justify-items: center;
} }
@utility justify-start { &:where(.grid,[class*=grid-]) {
  justify-items: start;
} }
@utility justify-center { &:where(.grid,[class*=grid-]) {
  justify-items: center;
} }
@utility justify-end { &:where(.grid,[class*=grid-]) {
  justify-items: end;
} }
@utility justify-stretch { &:where(.grid,[class*=grid-]) {
  justify-items: stretch;
} }

/** grid content aligning **/
@utility align-ct-* { &:where(.grid,[class*=grid-]) {
  align-content: --value([*]);
} }

/** grid content justifying **/
@utility justify-ct-* { &:where(.grid,[class*=grid-]) {
  justify-content: --value([*]);
} }
