@import 'tailwindcss';



/*** 🔶Flex🔶 ***/

/* shortcuts */
.flexrc { @apply flex row center; }

/* flex */
@utility flex { display: flex; }

/** flex direction **/
@utility row { &:where(.flex,.flexrc) {
  flex-direction: row;
} }
@utility row-rev { &:where(.flex,.flexrc) {
  flex-direction: row-reverse;
} }
@utility col { &:where(.flex,.flexrc) {
  flex-direction: column;
} }
@utility col-rev { &:where(.flex,.flexrc) {
  flex-direction: column-reverse;
} }

/** flex direction with min-inline-size: 0 **/
@utility row0 { &:where(.flex,.flexrc) {
  flex-direction: row; min-width: 0;
} }
@utility row0-rev { &:where(.flex,.flexrc) {
  flex-direction: row-reverse; min-width: 0;
} }
@utility col0 { &:where(.flex,.flexrc) {
  flex-direction: column; min-height: 0;
} }
@utility col0-rev { &:where(.flex,.flexrc) {
  flex-direction: column-reverse; min-height: 0;
} }

/** flex wrap **/
@utility wrap { &:where(.flex,.flexrc) {
  flex-wrap: wrap;
} }
@utility wrap-rev { &:where(.flex,.flexrc) {
  flex-wrap: wrap-reverse;
} }



/** flex placing **/

@utility start { &:where(.flex,.flexrc) {
  align-items: start;
} }
@utility center { &:where(.flex,.flexrc) {
  align-items: center;
} }
@utility end { &:where(.flex,.flexrc) {
  align-items: end;
} }
@utility stretch { &:where(.flex,.flexrc) {
  align-items: stretch;
} }

@utility between { &:where(.flex,.flexrc) {
  justify-content: space-between;
} }
@utility around { &:where(.flex,.flexrc) {
  justify-content: space-around;
} }

@utility start2 { &:where(.flex,.flexrc) {
  align-items: start; justify-content: start;
} }
@utility center2 { &:where(.flex,.flexrc) {
  align-items: center; justify-content: center;
} }
@utility end2 { &:where(.flex,.flexrc) {
  align-items: end; justify-content: end;
} }
@utility stretch2 { &:where(.flex,.flexrc) {
  align-items: stretch; justify-content: stretch;
} }

@utility start-start { &:where(.flex,.flexrc) {
  align-items: start; justify-content: start;
} }
@utility start-center { &:where(.flex,.flexrc) {
  align-items: start; justify-content: center;
} }
@utility start-end { &:where(.flex,.flexrc) {
  align-items: start; justify-content: end;
} }
@utility start-stretch { &:where(.flex,.flexrc) {
  align-items: start; justify-content: stretch;
} }

@utility center-start { &:where(.flex,.flexrc) {
  align-items: center; justify-content: start;
} }
@utility center-center { &:where(.flex,.flexrc) {
  align-items: center; justify-content: center;
} }
@utility center-end { &:where(.flex,.flexrc) {
  align-items: center; justify-content: end;
} }
@utility center-stretch { &:where(.flex,.flexrc) {
  align-items: center; justify-content: stretch;
} }

@utility end-start { &:where(.flex,.flexrc) {
  align-items: end; justify-content: start;
} }
@utility end-center { &:where(.flex,.flexrc) {
  align-items: end; justify-content: center;
} }
@utility end-end { &:where(.flex,.flexrc) {
  align-items: end; justify-content: end;
} }
@utility end-stretch { &:where(.flex,.flexrc) {
  align-items: end; justify-content: stretch;
} }

@utility stretch-start { &:where(.flex,.flexrc) {
  align-items: stretch; justify-content: start;
} }
@utility stretch-center { &:where(.flex,.flexrc) {
  align-items: stretch; justify-content: center;
} }
@utility stretch-end { &:where(.flex,.flexrc) {
  align-items: stretch; justify-content: end;
} }
@utility stretch-stretch { &:where(.flex,.flexrc) {
  align-items: stretch; justify-content: stretch;
} }



/** flexed **/
@utility no-shrink { flex-shrink: 0; }
@utility basis-* { flex-basis: --value([*]); }
@utility order-* { order: --value([*]); }
@utility grow { flex-grow: 1; }
@utility grow-* { flex-grow: --value([*]); }
@utility shrink { flex-shrink: 1; }
@utility shrink-* { flex-shrink: --value([*]); }
@utility flexed-* { flex: --value([*]); }
