@import 'tailwindcss';



/*** 🔶Content🔶 ***/

@theme {
  --cl-none: transparent;
}

/** border **/
@utility bd-w-* { border-width: --value([number])px; border-width: --value([*]); }
@utility bd-cl-* { border-color: --value(--cl-*, [*]); }
@utility rad-* { border-radius: --value([number])px; border-radius: --value([*]); }

/** background **/
@utility bg-* { background: --value([*]); }
@utility bg-cl-* { background-color: --value(--cl-*, [*]); }
@utility bg-im-* { background-image: --value([*]); }
@utility bg-pos-* { background-position: --value([*]); }
@utility bg-sz-* { background-size: --value([*]); }

/** color **/
@utility cl-* { color: --value([*]); }
