
/* ⚠️ html / body display property behaves strange */

@layer reset {
  
  *,::before,::after,::backdrop {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    gap: 0;
    place-items: normal;
    place-content: normal;
    
    /* background of body is WINDOW background */
    background: none;
    /* disable outline on keyboard navigation */
    &:focus-visible { outline: none; }
    /* disable highlight when tapping on screen on mobile devices */
    -webkit-tap-highlight-color: transparent;
    
    overflow-wrap: anywhere;
  }
  input,textarea {
    justify-items: normal;
  }
  * {
    /* use auto as default value */
    pointer-events: auto;
  }
  
  
  :root {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
    /* only - tells browser to not change colors by auto-theme engine */
    /* dark - element is designed specifically for a dark theme,
       it affects the rendering of built-in UI elements (scrollbars, form controls, ... */
    color-scheme: only dark;
  }
  
  
  a {
    display: contents;
    text-decoration: none;
    color: unset;
  }
  
}
